<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
	<title></title>
</head>
<body style="background-color:#dcdcdc">
                  <table style="margin: auto;">
	                 <td>
			                 <div>
			                 		<a href="#" target="blank"><img src="../../../static/img/insta.png" th:src="|cid:${insta}"/></a>
			                 </div>
			          </td>
			          <td>
			                 <div>
			                 		<a href="#" target="blank"><img src="../../../static/img/facebook.png" th:src="|cid:${face}"/></a>
			                 </div>
			          </td>
                 	</table>
            </td>
        </tr>
    </table>
 
</body>
</html>